<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="CafeBytes.XamarinExemplo.Droid">
	<uses-sdk android:targetSdkVersion="18" android:minSdkVersion="8" />
	<application android:label="CafeBytes.XamarinExemplo.Droid">
	</application>
	<uses-permission android:name="android.permission.INTERNET" />
</manifest>